<a href="https://colab.research.google.com/github/maiaragoudapatil-art/NLP-bingers/blob/main/exp3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
import re

In [ ]:
data = pd.read_csv('/content/twitter4000.csv')
data.info()
data.count()
data['sentiment'].value_counts()
data.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   twitts     4000 non-null   object
 1   sentiment  4000 non-null   int64
dtypes: int64(1), object(1)
memory usage: 62.6+ KB

                                              twitts  sentiment
0  is bored and wants to watch a movie  any sugge...          0
1           back in miami.  waiting to unboard ship           0
2  @misskpey awwww dnt dis brng bak memoriessss, ...          0
3                  ughhh i am so tired  blahhhhhhhhh          0
4  @mandagoforth me bad! It's funny though. Zacha...          0

In [ ]:
import pandas as pd # Ensure pandas is imported for pd.notna
import re

pattern = r'\s'
data['char_count'] = data['twitts'].apply(lambda x: len(re.sub(pattern, '', x if pd.notna(x) else '')))

In [ ]:

data['char_count']

0        43
1        32
2        54
3        27
4       116
       ...
3995     14
3996     32
3997     27
3998     45
3999     63
Name: char_count, Length: 4000, dtype: int64

In [ ]:
data['char_count']=data['twitts'].apply(lambda x:len(re.sub(pattern,'',x if pd.notna(x) else '')))

In [ ]:
display(data['char_count'].describe())

count    4000.000000
mean       61.166000
std        29.528925
min         5.000000
25%        36.000000
50%        58.000000
75%        84.000000
max       184.000000
Name: char_count, dtype: float64

In [ ]:
data['twitts']

0       is bored and wants to watch a movie  any sugge...
1                back in miami.  waiting to unboard ship
2       @misskpey awwww dnt dis brng bak memoriessss, ...
3                       ughhh i am so tired  blahhhhhhhhh
4       @mandagoforth me bad! It's funny though. Zacha...
                              ...
3995                                    i just graduated
3996            Templating works; it all has to be done
3997                     mommy just brought me starbucks
3998    @omarepps watching you on a House re-run...lov...
3999    Thanks for trying to make me smile I'll make y...
Name: twitts, Length: 4000, dtype: object

In [ ]:
data['twitts'].apply(lambda x: len([word for word in x.split() if word.isupper()]))

0       0
1       0
2       1
3       0
4       0
       ..
3995    0
3996    0
3997    0
3998    0
3999    0
Name: twitts, Length: 4000, dtype: int64

In [ ]:
data['uppercase_word_counts'] = uppercase_word_counts
sentiment_uppercase_stats = data.groupby('sentiment')['uppercase_word_counts'].describe()
print(sentiment_uppercase_stats)

            count    mean       std  min  25%  50%  75%   max
sentiment
0          2000.0  0.6665  1.286120  0.0  0.0  0.0  1.0  22.0
1          2000.0  0.5310  1.182683  0.0  0.0  0.0  1.0  20.0